* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;
}
.content {
    border-radius: 15px;
    background-color: #ffff;
    width: 960px;
    height: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.content::before {
    content: "";
    position: absolute;
    background-color: #3fa890;
    width: 40%;
    height: 100%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;


    left: 60%;
}
.first-content {
    display: flex;
    display: none;
}

.first-column {
    text-align: center;
    flex: 1 0 auto;
    z-index: 1;
}

.title {
    font-size: 28px;
    font-weight: bold;
    text-transform: capitalize;
}

.description {
    font-size: 14px;
    font-weight: 300px;
    line-height: 30px;
}

.description-primary {
    color: #ffff;
}

.description-second {
    color: #7f8c8d;
}

.btn {
    border-radius: 15px;
    text-transform: uppercase;
    color: #ffff;
    font-size: 10px;
    padding: 10px 50px;
    cursor: pointer;
    font-weight: bold;
    width: 150px;
    align-self: center;
    border-width: 0px;
    margin-top: 1rem;
}

.btn-primary {
    background-color: transparent;
    border: 1px solid #ffff;
}
.btn-second {
    background-color: #3fa890;
    border: 1px solid #3fa890;
}

.btn-second:hover {
    background-color: #ffff;
    border: 1px solid #3fa890;
    color: #3fa890;
}
.btn-primary:hover {
    background-color: #ffff;
    color: #3fa890;
}

.title-primary {
    color: #ffff;
}

.second-column {
    flex: 2 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.title-second {
    color:#58af9b;
}
.social-media {
    margin: 1rem;
}

.link-social-media:hover .item-social-media {
    background-color: #3fa890;
    color: #ffff;
    border: #3fa890;
}

.link-social-media:not(:first-child) {
    margin-left: 10px; /* não quero que seja atribuido ao primeiro filho de link-social-media o margin-left*/
}
.list-social-media {
    display: flex;
    list-style-type: none;
}
.item-social-media {
    border: 1px solid #bdc3c7;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    color: #95a5a6;
}

.form {
    display: flex;
    flex-direction: column;
    width: 55%;
}
.form input {
    height: 45px;
    border: none;
    background-color: #ecf0f1;
    width: 100%;
}

.label-input-wrap {
    background-color: #ecf0f1;
    display: flex;
    align-items: center;
    margin: 8px;
}

.icon-modify {
    color: #7f8c8d;
    padding: 5px;
}

/* second content*/

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
}

.second-content .second-column {
    order: 1;
}

.password {
    color: #34495e;
    font-size: 14px;
    margin: 15px 0;
    text-align: center;
}

.password::first-letter {
    text-transform: uppercase;
}